{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body class="form-body">
    <div class="form-cont">
        <h2>Add Jadwal</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            <p>Nama Kegiatan</p>
            {{ form.nama_kegiatan }}
            <p>Tempat</p>
            {{ form.tempat }}
            <p>Kategori</p>
            {{ form.kategori }}
            <p>Waktu & Tanggal</p>
            <p>
                {{ form.tanggal }}
                {{ form.waktu }}
            </p>
            <div class="full">
                <a><button type="button" class="button delete">Back</button></a>
                <input type="submit" class="button" value="Submit" />
            </div>
        </form>
    </div>
</body>
</html>