{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <div class="container">
        <h1>Jadwal Ku</h1>
        <div class="flex">
            <p>Today - {{ server_time }}</p>
            <a href="create">
                <button class="button">Create Jadwal</button>
            </a>
        </div>
            
        {% for j in jadwal %}
            <div class="jadwal-card">
                <h2><span>{{ j.kategori }}</span> - {{ j.nama_kegiatan }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ j.tempat }}</h4>
                        <p>{{ j.tanggal }} - {{ j.waktu }}</p>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
</body>
</html>